# FastAPI
fastapi
uvicorn[standard]

# Validation and Settings
pydantic
pydantic-settings
python-dotenv
email-validator


#authentication
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt

#database

sqlalchemy
alembic

apscheduler
slowapi


langchain
langgraph
langchain-community
langchain-google-genai
langchain-huggingface
chromadb
sentence-transformers
pypdf
tiktoken
sse-starlette

chromadb
sentence-transformers
